Challenge2_instructions_solutions/node-red-solution.txt
[{"id":"94e8d33a.e99b4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dcedbce9.7c6d1","type":"inject","z":"94e8d33a.e99b4","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["e570a460.3a5258"]]},{"id":"a20b30d8.d5f8","type":"delay","z":"94e8d33a.e99b4","name":"","pauseType":"rate","timeout":"4","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":300,"wires":[["c9e4f77c.42e108","11876052.e533c"]]},{"id":"7f5c0f9f.9bbf5","type":"csv","z":"94e8d33a.e99b4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":510,"y":200,"wires":[["aa2320ef.3ebf1"]]},{"id":"aa2320ef.3ebf1","type":"function","z":"94e8d33a.e99b4","name":"Assign code","func":"var input = msg\nvar person_code = 10692911\nconst last4Num = Number(String(person_code).slice(-4));\nmsg.code = input.payload.code - last4Num //so im sure my messages have now code from 0 to 99\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["5136ad64.6ffd44"]]},{"id":"e570a460.3a5258","type":"file in","z":"94e8d33a.e99b4","name":"File Read","filename":"/home/user/Desktop/IOT-examples/iot-feeds.csv","format":"utf8","chunk":false,"sendError":false,"x":360,"y":200,"wires":[["7f5c0f9f.9bbf5"]]},{"id":"5136ad64.6ffd44","type":"switch","z":"94e8d33a.e99b4","name":"select msgs by code","property":"code","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"99","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":300,"wires":[["a20b30d8.d5f8"],[]]},{"id":"c9e4f77c.42e108","type":"function","z":"94e8d33a.e99b4","name":"MQTT msg","func":"var field1 = msg.payload.field1\nvar field2 = msg.payload.field2\nvar field5 = msg.payload.field5\n\nvar channel_id = \"1708320\"\nmsg.topic=\"channels/\"+channel_id+\"/publish\"\nmsg.payload = \"field1=\"+field1+\"&field2=\"+field2+\"&field5=\"+field5+\"&status=MQTTPUBLISH\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":240,"wires":[["5a6e096.e4e02f8","12daeab6.ac67b5"]]},{"id":"11876052.e533c","type":"function","z":"94e8d33a.e99b4","name":"MQTT msg","func":"msg.payload = msg.payload.field5\nmsg.topic=\"RSSI\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":360,"wires":[["f098d63f.600f38"]]},{"id":"12daeab6.ac67b5","type":"mqtt out","z":"94e8d33a.e99b4","name":"","topic":"","qos":"","retain":"","broker":"92d0338e.f2208","x":1170,"y":200,"wires":[]},{"id":"5a6e096.e4e02f8","type":"debug","z":"94e8d33a.e99b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":280,"wires":[]},{"id":"f098d63f.600f38","type":"ui_chart","z":"94e8d33a.e99b4","name":"","group":"6264a582.2c8b84","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":360,"wires":[[]]},{"id":"92d0338e.f2208","type":"mqtt-broker","name":"thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"GB4ADBUFDxAREiwoNCU4LR8","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6264a582.2c8b84","type":"ui_group","name":"Default","tab":"2c89b9fb.3163f6","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c89b9fb.3163f6","type":"ui_tab","name":"Home","icon":"dashboard"}]